/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
  background: linear-gradient(to right, #0358e9, #1488ed);
}

/* Header */
header {
  background: linear-gradient(to right, #004aad, #1488ed);
  color: white;
  padding: 1rem;
  text-align: center;
  margin: 10px;
  border-radius: 40px 10px 40px 10px;
  border: #004aad 2px solid;
}


header .logo {
    height: 90px;
    border-radius: 10px;
    margin-left: 20px;
    float: left;
    margin-top: -55px;
}
header h1 {
  margin: 0;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0;
  display: flex;
  justify-content: center;
  margin-right: 180px;
  gap: 1rem;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#quienes-somos{
  font-size: 20px;
  background: linear-gradient(to right, #004aad, #1488ed);
  color: white;
  padding: 2rem;
  border-radius: 10px 40px 10px 40px;
  margin: 10px;
  text-align: center;
  border: #004aad 2px solid;
  margin-top: 20px;
}

#quienes-somos .valores{
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
#quienes-somos .valores ul{
  list-style: none;
  padding: 0;
  text-align: center;
 
}

/* Hero */
.hero {
  background-image: url('fondo_abstracto.png');
  background-size: cover;
  padding: 2rem;
  border-radius: 10px 40px 10px 40px;
  margin: 10px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
  border: #004aad 2px solid;

}

/* Cursos */
#cursos {
  padding: 2rem;
}
.cursos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  border: #0066cc 2px solid;
  border-radius: 10px;
  padding: 1rem;
}
.curso {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  align-self: center;
}

#contenedor-info-cursos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 5s;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.info-curso-1 {
  width: 300px;
  background: #4d9bc9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 500px;
  text-align: center;
  margin-left: 20px;
  align-content: left;
  float: left;
  border: #004aad 2px solid;
 
}
.info-curso-2 {
  width: 300px;
  background: #4d9bc9;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 500px;
  margin-left: 20px;
  text-align: center;
  align-content: center;
  float: center;
  border: #004aad 2px solid;
}
.info-curso-3 {
  width: 300px;
  background: #4d9bc9;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 500px;
  margin-left: 20px;
  text-align: center;
  align-content: right;
  float: right;
  border: #004aad 2px solid;
}

.curso-detalle {
  background: #4d9bc9;
  padding: 10px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 600px;
  text-align: center;
  border: #004aad 2px solid;
}

.curso-detalle h3 {
  align-self: center;
  margin-bottom: 15px;
  color: #004aad;
}

.curso-detalle ul {
  list-style: none;
  padding: 0;
  align-items: left;
}

.curso-detalle li {
  margin: 10px 0;
  font-size: 1.1rem;
  padding: 8px;
  border-left: 4px solid #004aad;
  background: #f7faff;
  border-radius: 6px;
}
#cursos .imagen-cursos-01 {
  width: 200px;
  margin: 10px;
  height: auto;
  border-radius: 12px;
  float: left;
  margin-left: 40px;
}
#cursos .imagen-cursos-02 {
  width: 200px;
  margin: 10px;
  height: auto;
  border-radius: 12px;
  float: right;
  margin-right: 40px;
}

#cursos{
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 8s;
}

.form-inscripcion {
  text-align: center;
  margin-top: 2rem;
}

.form-inscripcion button {
  background: #004aad;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.form-inscripcion textarea {
  width: 80%;
  height: 100px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  resize: vertical;

}
#programas {
  text-align: center;
  margin-top: 2rem;
}
#programas button {
  background: #3366a8;
  color: white;
  border: none;
  padding: 0.15rem 1rem;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
#programas button:hover {
  background: #003080;
}
#programas button:active {
  background: #002060;
}

#beneficios {
  background: linear-gradient(to right, #004aad, #1488ed);
  color: white;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 10px;
  border: #004aad 2px solid;
}
#beneficios h2 {
  text-align: center;
  margin-bottom: 1rem;
}
#beneficios table {
text-align: center;
  margin: 0 auto;
  width: 80%;
}

#beneficios table th,
#beneficios table td {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
}

#beneficios table tr:hover {
  background: rgba(255, 255, 255, 0.1);
}
#contacto {
  background: linear-gradient(to right, #004aad, #1488ed);
  color: white;
  padding: 2rem;
  border-radius: 10px 40px 10px 40px;
  margin: 10px;
  text-align: center;
  border: #004aad 2px solid;
}

/* Footer */
footer {
  background: #004aad;
  color: white;
  text-align: center;
  padding: 1rem;
}


@media (max-width: 375px) {
  
  header h1{
    display:none;
  }
  header nav ul{
    flex-direction: column;
    
  }
  header .logo {
    height: 100px;
    margin-top: 40px;
    margin-left: 10px;
  }

  .cursos-container {
    grid-template-columns: 1fr;
  }
  .info-curso-1, .info-curso-2, .info-curso-3 {
    float: none;
    margin: 10px auto;
  }
  .curso-detalle {
    float: none;
    margin: 10px auto;
  }
  .imagen-cursos-01,.imagen-cursos-02 {
    display: none;

  }


  .form-inscripcion h2 {
    margin: 0.5rem 0;
    display: none;
  }
  #programas, .programas-buttons, button {
    flex-direction: column;
    margin: 10px;
  }
  
  #beneficios {
    margin-top: none;
    
  }
  #beneficios h2 {
    font-size: 1.5rem;
    padding: 0 2.5rem;
  }
  #beneficios, table {
    margin-top: none;
    text-align: center;
    max-width: 80%;
    display: contents;
    justify-content: center;
  }
  #contacto {
      padding: 17%;
  }
 
}

  @media (max-width: 768px) {
   
 body {
    font-size: 14px;
    max-width: 100%;
  }
  header .logo {
    display: none;
  }
  #header nav {
    display: flex;
    justify-content: center;
  }
  #contenedor-info-cursos .info-curso-1, #contenedor-info-cursos .info-curso-2, #contenedor-info-cursos .info-curso-3 {
    float: none;
    margin: 10px auto;
  }
  #contacto textarea {
    width: 80%;
   
  }
  #programas, .programas-buttons, button {
    flex-direction: column;
    margin: 10px;
  }
  #beneficios {
    margin-top: none;
    text-align: center;
  }

  #beneficios h2 {
    font-size: 1.5rem;
    padding: 0 2.5rem;
  }
  #beneficios table{
    text-align: center;
    margin-left: 70px;
  }
  #beneficios table tr td{
    padding: 10px;
  }
  #contacto{
      margin-top: 20px;
  }
  
 

}
